:root{
  --main-dark: #181828;
  --secondary-dark: #2F2F43;
  --main-ligth: #F3F3F3;
  --main-ligth-text: #FEFEFE;
}

.main-dark-background{
  background-color: var(--main-dark) !important;
}

.secondary-dark-background{
  background-color: var(--secondary-dark)!important;
}

.main-ligth-text{
  color: var(--main-ligth-text) !important;
}

.main-ligth-background{
  background-color: var(--main-ligth) !important;
}

@font-face{
  font-family: 'DM Sans';
  src: url('../src/assets/fonts/DMSans-VariableFont_opsz_wght.ttf');
}

@font-face{
  font-family: 'Epilogue';
  src: url('../src/assets/fonts/Epilogue-VariableFont_wght.ttf');
}

.DMSans{
  font-family: 'DM Sans' !important;
}

.Epilogue{
  font-family: 'Epilogue' !important;
}

/* -------------- BLUE BUTTON ------------------- */

.blue-btn {
  background: linear-gradient(99deg, #236bfe 6.69%, #0d4ed3 80.95%);
  cursor: pointer;
  transition: 0.4s;
}

.blue-btn:hover {
  box-shadow: 7px 5px 56px -14px #236bfe;
}

.blue-btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #236bfe;
}

/* -------------- FORM LOGIN AND SIGNUP ------------------- */

.full-input {
  display: inline-block;
  padding: 3px;
}
input {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 14pt;
}
label {
  display: block;
  font-size: 12px;
}

.full-input:focus{
    border: #FFFFFF solid 0.4px;
}

.forgot-pass .aready-have{
    font-size: 12px;
}

form{
    width: 80%;
}
